language: node_js
node_js:
    - "4"
    - "5"
    - "6"

before_script:
    - npm install istanbul@1.0.0-alpha.2

script:
    - npm run test-cov

after_success:
    - npm install codecov
    - ./node_modules/.bin/codecov
